<ion-header>
  <ion-toolbar>
    <ion-title>users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text color="primary">
              <h4>{{user.username}}</h4>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="danger">
              <ion-img [src]="user.urlPhoto" style="width: 25%; height: auto;"></ion-img>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
