<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="messages">
      <ion-icon name="home"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>