<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]='signupForm'>
      <ion-item>
        <ion-label position="floating">Login</ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">URL photo</ion-label>
        <ion-input formControlName="photoUrl"></ion-input>
      </ion-item>
      <div class="ion-padding">
        <ion-button color="success" expand="block" type="submit" class="ion-no-margin" (click)="doSignUp()">
          <ion-icon name="checkbox-outline"></ion-icon>
          Sign up
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
