<ion-header>
  <ion-toolbar>
    <ion-title>messages</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-input type="text" [(ngModel)]="message" placeholder="Your message"></ion-input>
  <ion-button expand="block" class="ion-no-margin" (click)="postMessage();">
    Send
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let msg of messages">
      <ion-grid>
        <ion-row>
          <ion-text color="primary">
            <h4>{{msg.message}}</h4>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-text color="danger">
            <p>{{msg.username}}</p>
          </ion-text>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

