<ion-header>
  <ion-toolbar>
    <ion-title>
      Mon application IONIC
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <form [formGroup]="loginform">
        <ion-item>
          <ion-label position="floating">Login</ion-label>
          <ion-input formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password"></ion-input>
        </ion-item>
        <div class="ion-padding">
          <ion-button color="success" expand="block" type="submit" class="ion-no-margin" (click)="doLogin()">
            <ion-icon name="checkbox-outline"></ion-icon>
            Connection
          </ion-button>
        </div>
      </form>
    </ion-card>
    <ion-button expand="block" class="ion-no-margin" (click)="doSignup()">
      Sign up
    </ion-button>
  </div>
</ion-content>
